# Python
__pycache__/
*.py[cod]
*.so
*.dylib
.Python

# Environments
.venv/
venv/
ENV/
env/

# Poetry
poetry.lock

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store
